<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <hbk-loader></hbk-loader>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
    <hbk-add-event  [categories]="categories"></hbk-add-event>
    </div>
    <div class="col-md-6">
      <hbk-add-category (onCategoryAdd)="newCategoryAdd($event)"></hbk-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <hbk-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></hbk-edit-category>
    </div>
  </div>
</section>
