 <div class="title-block">
    <h3 class="title pull-left">
      Страница истории <span class="sparkline bar"></span>
    </h3>
   <div class="pull-right">
     <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
       <i class="fa fa-filter"></i>
     </button>
   </div>
  </div>

 <div *ngIf="!isLoaded" class="text-center">
   <hbk-loader></hbk-loader>
 </div>
 <div *ngIf="isLoaded">
   <hbk-history-chart [data]="chartData"></hbk-history-chart>
   <hbk-history-events
     [categories]="categories"
     [events]="filteredEvents"
    ></hbk-history-events>
   <div *ngIf="isFilterVisible">
     <hbk-history-filter
     (onFilterApply)="onFilterApply($event)"
     (onFilterCancel)="onFilterCancel()"
     [categories]="categories"
     ></hbk-history-filter>
   </div>
 </div>



